.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.features {
    text-align: center;
    padding: 30px;
    background-image: linear-gradient(to bottom, #07a3b2, #d9ecc7);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 10px 10px;
}

.mg-t-40 {
    margin-top: 40px;
}
.col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.mg-t-30 {
    margin-top: 30px;
}
.text-center {
    text-align: center !important;
}
.mb-0 {
    margin-bottom: 0 !important;
    height: 125px;
}
.articlename {
    margin-bottom: 0 !important;
    color: white;
    text-decoration: none;
}
.articlename:hover {
    color: black;
}
.btn {
    font-size: 1.3em;
    width: 40%;
    /* background-image: linear-gradient(to left, #c20e4a, #7f0a85) !important; */
    background-color: #36d7b7;
    color: whitesmoke;
    border: 2px solid #36d7b7 !important;
}
